.form-container {

}

.register-form {
    width: 90%;
    border: 2px solid #85cbcc;
    margin: 50px 0 50px 0;
}

.register-form-text {
    background-color: #85cbcc;
    padding: 20px 0 20px 0;
}

.register-form-text h2 {
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.register-form-text p{
    font-size: 1.2rem;
    color: #fff;
    text-transform: lowercase;
}

.inputs-wrapper {
    text-align: left;
    margin: 1em;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    color: #85cbcc;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.form-control {
    background-color:white;
    color: #85cbcc;
    border: solid 2px #85cbcc;
}

.form-control:focus {
    color: #85cbcc;
    background-color: #fff;
    border-color: #85cbcc;
    outline: 0;
    box-shadow: none;
}

input#submit {
    width: 100%;
    background-color: #85cbcc;
    text-transform: uppercase;
    font-size: 1.3rem;
}

input#submit:hover {
    background-color: #c4d3d3;
}

/*create recipe form*/

p.create-recipe {
    margin-top: 0;
    color: #85cbcc;
    margin-bottom: 1.2rem;
    line-height: 1px;
}

.recipe-label {
    margin-top: 1.5rem;
}

@media (min-width: 1200px) {

    .register-form {
        width: 50%;

}