body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  border-radius: 0!important;
}

*:focus {
  outline: none;
}

input#submit:focus {
  outline: 0;
  box-shadow: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: #85cbcc;
}

.fas {
  color: #85cbcc;
}

.fab {
  color: #fff;
}

.index-img img {
  width: 100%;
}

.container-fluid {
  padding: 0;
  max-width: 1500px;
}

/*NAVIGATION*/

#search_btn:active {
  background-color: #dee2e6;
  border-color: #dee2e6;
}

.navbar-nav .active a{
  color: #3a606e!important;
  font-weight: 500;
}

.navbar {
  padding: 0;
  z-index: 9;
  padding-bottom: 10px;
  background-color: #85cbcc;
}

.navbar-nav {
  text-align: center;
}

.form-inline {
  flex-flow: row nowrap;
}

.navbar-nav .nav-item .nav-link{
  margin-top: 15px;
  margin-bottom: 15px;
  color: #85cbcc;
}

.nav-link {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin-right: 10px;
}

.nav-link a {
  color: #fff;
}


.search-form {
  margin: 0 50px 0 50px;
}

.form-control {
  font-size: 1.3rem;
  background-color: rgba(255, 255, 255, .5);
  border: 1px solid rgba(255, 255, 255, .5);
}

.navbar-brand img{
  margin-left: 50px;
  max-width: 100px;
  height: auto;
  margin-top: 10px;
}

.navbar-nav .logout {
  display: none;
}


.signInUp {
  list-style: none;
  margin-left: 15px;
  background-color: #85cbcc;
  padding: 0;
  position: relative;
  float: right;
}

.signInUp li{
  display: inline-block;
  text-align: center;
  color: #fafafa!important;
}

.signInUp .nav-item .log-color {
  color: #fafafa;
  margin: 15px;
}

button.btn.btn-outline-success.my-2.my-sm-0 {
  padding: 10.5px;
}

/*RECIPE DISPLAY*/

.recipes-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
}

.card {
  width: 100%;
  margin-bottom: 2em;
}

.card-body {
  background-color: #85cbcc;
  text-align: center;
  width: 100%;
}

.card-body a {
  color: white;
  text-decoration: none;
  background-color: transparent;
  text-transform: capitalize;
}

.card-body p {
  color: white;
}

a.card-title {
  color: white;
  text-transform: uppercase;
  font-size: 1.7rem;
}

a.btn.btn-primary {
  background-color: white;
  color: #85cbcc;
  text-transform: uppercase;
  font-weight: 600;
}

.btn:hover {
  background-color: #a1cbcc;
}

.thumb-img-wrapper{
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #4679BD;
}
.thumb-img-wrapper:before{
  content: "";
  display: block;
  padding-top: 100%;
}
.thumb-img-wrapper img{
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  text-align: center;
}

/*PAGINATION*/

.page-item.disabled .page-link {
  color: #ffffff;
  pointer-events: none;
  cursor: auto;
  background-color: #85cbcc;
  border-color: #dee2e6;
  margin-right: 5px;
}

.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #ffffff;
  background-color: #c4d3d3;
  border: none;
}

a.btn.btn-primary:hover {
  color: white;
  background-color: #c4d3d3;
}

.page-link:hover {
  z-index: 2;
  color: white;
  text-decoration: none;
  background-color: #85cbcc;
  border: none;
}


.filterDiv {
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;
}


.show {
  display: block;
}


.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}


.btn:hover {
  background-color: #ddd;
}


.btn.active {
  background-color: #666;
  color: white;
}

.index-content {
  margin-bottom: 50px;
}

.index-content p {
  text-align: justify;
  font-size: 2rem;
}

.link-to-recipes {
  background-color: #85cbcc;
  padding: 30px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 70%;
}

.link-to-recipes a {
  color: #fafafa;
  font-size: 1.2rem;
}

/*Footer*/

footer {
  position: relative;
  width: 100%;
  bottom: 0;
}

.footer-content {
  background-color: #85cbcc;
  text-align: center;
  padding: 20px 0 20px 0;
}

.footer-column h2 {
  font-size: 1.2rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
}

.icon {
  color: #fff;
  font-size: 2rem;
  margin: 5px 10px 5px 10px;
}

.icon:hover {
  transform: scale(1.5);
  transition-duration: 1s;
}

@media (min-width: 574px) {
  .recipes-wrapper {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 768px) {
  
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
  }
  .recipes-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .card {
    width: 35%;
    margin-bottom: 2em;
    margin-right: 1em;
}
  
  .container {
    max-width: 100%;
  }
  
  .recipes-wrapper {
    padding-right: 0;
    padding-left: 0;
    display: flex;
    justify-content: center;
}
  
  .navbar {
    margin-bottom: 1em;
  }
  
  ul.pagination.justify-content-center {
    margin-top: 10px;
  }
}


@media (min-width: 1410px) {
  
  
  .navbar {
    margin-bottom: 0;
  }
  
  .navbar-nav {
    width: 100%;
    justify-content: flex-end;
    margin-top: 30px;
  }
  
  .form-inline {
    flex-flow: row wrap;
  }
  
  .recipes-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .container.recipes-wrapper {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .card {
    width: 29em;
    margin-right: 0;
  }
  
  .thumb-img-wrapper {
    width: 29em;
    height: 29em;
  }
  
  .card-body {
    width: 29em;
  }
  
}




