body {
  margin: 0;
  padding: 0;
}

* {
  border-radius: 0!important;
}

.fas {
  color: #85cbcc;
}

.fab {
  color: #fff;
}

.index-img img {
  width: 100%;
}

.container-fluid {
  padding: 0;
  max-width: 1500px;
}

.navbar-nav .active a{
  color: #3a606e!important;
  font-weight: 500;
}

.navbar {
  padding: 0;
  z-index: 9;
  padding-bottom: 10px;
  background-color: #85cbcc;
}

.navbar-nav {
  width: 100%;
  justify-content: flex-end;
  margin-top: 30px;
}

.navbar-nav .nav-item .nav-link{
  margin-top: 15px;
  margin-bottom: 15px;
  color: #85cbcc;
}

.nav-link {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin-right: 10px;
}

.nav-link a {
  color: #fff;
}

.search-form {
  margin: 0 50px 0 50px;
}

.form-control {
  font-size: 1.3rem;
  background-color: rgba(255, 255, 255, .5);
  border: 1px solid rgba(255, 255, 255, .5);
}

.navbar-brand img{
  margin-left: 50px;
  max-width: 100px;
  height: auto;
  margin-top: 10px;
}

.navbar-nav .logout {
  display: none;
}


.signInUp {
  list-style: none;
  margin-left: 15px;
  background-color: #85cbcc;
  padding: 0;
  position: relative;
  float: right;
}

.signInUp li{
  display: inline-block;
  text-align: center;
  color: #fafafa!important;
}

.signInUp .nav-item .log-color {
  color: #fafafa;
  margin: 15px;
}

button.btn.btn-outline-success.my-2.my-sm-0 {
  padding: 11px;
}

.container {
  overflow: hidden;
}

.filterDiv {
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}

.index-content {
  margin-bottom: 50px;
}

.index-content p {
  text-align: justify;
  font-size: 2rem;
}

.link-to-recipes {
  background-color: #85cbcc;
  padding: 30px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 70%;
}

.link-to-recipes a {
  color: #fafafa;
  font-size: 1.2rem;
}

.footer-content {
  background-color: #85cbcc;
  text-align: center;
  padding: 20px 0 20px 0;
}

.footer-column h2 {
  font-size: 1.2rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
}

.icon {
  color: #fff;
  font-size: 2rem;
  margin: 5px 10px 5px 10px;
}


