.recipeImage-wrapper {
    height: 30em;
    width: 100%;
    overflow: hidden;
}

.recipeImage-wrapper img {
    width: 100%;
    height: auto;
}

.recipeText-wrapper {
    width: 30em;
    height: auto;
    float: left;
    width: 100%;
}

.recipeText-wrapper p {
text-align: justify;
font-size: 1.2rem;
background-color: #85cbcc;
color: white;
padding: 1em;
}

.singleRecipeWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #85cbcc;
    padding: 0;
}

.singleRecipeWrapper h1 {
    margin-top: 1em;
}

.additionalInfo {
    display: flex;
}

.additionalInfo p {
    margin-right: 1em;
}

.method {
    font-size: 1.2rem;
}

.ingrediants {
    font-size: 1.2rem;
    border-bottom: 2px solid #85cbcc;
}

.updateDeleteBtn {
    background-color: #85cbcc;
    color: white;
    margin-bottom: 1em;
    margin-top: 1em;
}

.updateDeleteBtn:hover {
    color: #85cbcc;
}

.modal-content {
    background-color: #85cbcc;
    color: white;
}

.modal-header {
    display: flex;
    justify-content: center;
    border: none;
    text-transform: uppercase;
}

.modal-header h5 {
    font-size: 2rem;
}

.modal-header .close {
    position: absolute;
    color: white;
    font-size: 2rem;
    right: 21px;
}

.modal-body p {
    text-align: center;
    font-size: 1.2rem;
}

.modal-footer {
    display: flex;
    justify-content: center;
    border: none;
}

button.btn.btn-secondary {
    color: #85cbcc;
}

input.btn.btn-danger {
    color: #85cbcc;
}


@media (min-width: 900px) {
    .recipeImageandText {
        display: flex;
        width: 100%;
        background-color: #85cbcc;
    }
    .instructions {
        display: flex;
        border: 2px solid #85cbcc;
        padding: 4em;
        justify-content: center;
    }
    .ingrediants {
        margin-right: 2em;
        border: none;
    }
}