<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slider.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recipe.css') }}">
    <title>Scandi Kitchen</title>
</head>
<body>
    
    
    
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12">
                <nav class="navbar navbarAbout navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="{{url_for('core.index')}}"><img src="static/img/logo.jpg" alt="logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-link">
                                <a href="{{url_for('core.info')}}">About</a>
                            </li>
                            
                            {% if current_user.is_authenticated %}
                            <li class="nav-link">
                                <a href="{{url_for('users.logout')}}">Log Out</a>
                            </li>
                            <li class="nav-link">
                                <a href="{{url_for('users.account')}}">Account</a>
                            </li>
                            <li class="nav-link">
                                <a href="{{url_for('recipes.create_recipe')}}">Upload Recipe</a>
                            </li>
                            {% else %}
                            <li class="nav-link">
                                <a href="{{url_for('users.login')}}">Log In</a>
                            </li>
                            <li class="nav-link">
                                <a href="{{url_for('users.register')}}">Register</a>
                            </li>
                            {% endif %}
                            <li>
                                <form id="searchForm" class="search-form form-inline">
                                    <input id="txt_field" class="form-control mr-sm-2" type="search" aria-label="Search">
                                    <button id="search_btn" class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search" style="font-size: 1.2rem;"></i></button>
                                  </form>
                            </li>
                        </ul>
                    </div>
                </nav>   
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        {% block content%}
        
        {% endblock %}
    </div>
    
    <footer>
        <div class="container-fluid">
            <div class="footer-content">
                <div class="row no-gutters">
                    <div class="footer-column col-4">
                        <h2>Follow us</h2>
                        <a href="#"><i class="icon fab fa-twitter-square"></i></a>
                        <a href="#"><i class="icon fab fa-instagram"></i></a>
                        <a cl href="#"><i class="icon fab fa-facebook-square"></i></a>
                    </div>
                    <div class="footer-column col-4">
                        <h2>Code</h2>
                        <a href="#"><i class="icon fab fa-github-square"></i></a>
                    </div>
                    <div class="footer-column col-4">
                        <h2>Get in touch</h2>
                        <a href="#"><i class="icon fas fa-envelope-square"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/d7c13503ab.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/slider.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
`
</body>
</html>