<!--Creating and updating recipes views template-->
{% extends "base.html" %}

{% block content %}
    <div class="container">
        <form class="form-group" method="POST">
            {{form.hidden_tag()}}

            <div class="form-group">
                {{form.title.label}}
                {{form.title}}
            </div>
            <div class="form-group">
                {{form.text.label}}
                {{form.text}}
            </div>
            <div class="form-group">
                {{form.cook_method.label}}
                {{form.cook_method}}
            </div>
            <div class="form-group">
                {{form.ingredients.label}}
                {{form.ingredients}}
            </div>
            <div class="form-group">
                {{form.recipe_image.label}}
                {{form.recipe_image}}
            </div>
            <div class="form-group">
                {{form.submit(class="btn btn-outline-info")}}
            </div>
        </form>
    </div>


{% endblock %}