{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-12">
            <div class="image-slideshow">
                    
                <div class="slider">
                        <h1>SCANDI KITCHEN</h1>
                    <div class="btnLeft"></div>
                    <div class="btnRight"></div>
                    <div class="info"></div>
                    <div class="hidden images">
                        <img src="static/img/slide1.jpg">
                        <img src="static/img/slide2.jpg">
                        <img src="static/img/slide3.jpg">
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}