{% extends "base.html" %}
{% block content %}

<div class="about-kitchen container-fluid">
    <div class="row">
        <div class="about-image col-lg-5 col-sm-12">
            <img src="static/img/sami.jpg" alt="">
        </div>
        <div class="about-description col-lg-7 col-sm-12">
            <h1>What is skandi kitchen</h1>
            <p>The creator of this page is a foodie with passion for Nordic cooking. Scandi Kitchen is a page for Nordic foodies, who want to experiment with their cooking and inspire others. The goal of this page is to share recipes from Sweden, Denmark, Norway and Finland and inspire new ideas and experimentation with traditional quizine as well as to educate our visitors about Nordic cooking tradition.</p>
        </div>
    </div>
</div>

{% endblock %}