{% extends 'base.html' %}

{% block content %}

<div class="loginWrapper" align="center">
    <form class="register-form text-center" method='POST'>
        <div class="register-form-text">
            <h2>Register</h2>
            <p>Join us and let's get cooking!</p>
        </div>
        <div class="inputs-wrapper">
            {{form.hidden_tag()}}
            {{form.email.label}}{{form.email(class="form-control loginForms")}}</br>
            {{form.username.label}}{{form.username(class="form-control loginForms")}}</br>
            {{form.password.label}}{{form.password(class="form-control loginForms")}}</br>
            {{form.confirm_password.label}}{{form.confirm_password(class="form-control loginForms")}}</br>
        </div>
        {{form.submit(class="btn btn-primary")}}
        
    </form>
    
</div>

{% endblock %}







