{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-12">
            <div class="image-slideshow">
                    
                <div class="slider">
                        <h1>SCANDI KITCHEN</h1>
                    <div class="btnLeft"></div>
                    <div class="btnRight"></div>
                    <div class="info"></div>
                    <div class="hidden images">
                        <img src="static/img/slide1.jpg">
                        <img src="static/img/slide2.jpg">
                        <img src="static/img/slide3.jpg">
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="index-content">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pellentesque eu tincidunt tortor aliquam. Id diam maecenas ultricies mi eget. Amet risus nullam eget felis eget nunc. Amet cursus sit amet dictum. Euismod nisi porta lorem mollis aliquam ut porttitor leo. Aliquam sem et tortor consequat. Quis hendrerit dolor magna eget est lorem. Cursus sit amet dictum sit amet justo donec. Etiam non quam lacus suspendisse faucibus interdum. Sit amet risus nullam eget felis eget nunc. Accumsan tortor posuere ac ut.
                </p>
                <div class="link-to-recipes"><a href="#">Discover yout next meal</a></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}