{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="image-slideshow">
                
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>What is Scandi-Food Cookbook?</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pellentesque eu tincidunt tortor aliquam. Id diam maecenas ultricies mi eget. Amet risus nullam eget felis eget nunc. Amet cursus sit amet dictum. Euismod nisi porta lorem mollis aliquam ut porttitor leo. Aliquam sem et tortor consequat. Quis hendrerit dolor magna eget est lorem. Cursus sit amet dictum sit amet justo donec. Etiam non quam lacus suspendisse faucibus interdum. Sit amet risus nullam eget felis eget nunc. Accumsan tortor posuere ac ut.
            </p>
            <button><a href="#">Discover yout next meal</a></button>
        </div>
        <div class="col-6">
            <img src="static\img\sami.jpg" alt="sami person in traditional clothes holds plate of traditional food">
        </div>
    </div>
</div>

{% endblock %}