{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-8">          
            <!--SORT BUTTONS-->
            <div id="myBtnContainer">
                <button class="btn active" onclick="filterSelection('all')"> Show all</button>
                <button class="btn" onclick="filterSelection('finnish')">Finnish Recipes</button>
                <button class="btn" onclick="filterSelection('swedish')">Swedish Recipes</button>
                <button class="btn" onclick="filterSelection('danish')">Danish Recipes</button>
                <button class="btn" onclick="filterSelection('norvegian')">Norvegial Recipes</button>
            </div>
        </div>
        <div class="col-4">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>



<!--DEFAULT RECIPES-->
<div class="container">
    <div class="filterDiv finnish">FINNISH</div>
    <div class="filterDiv finnish">FINNISH</div>
    <div class="filterDiv finnish">FINNISH</div>
    <div class="filterDiv finnish">FINNISH</div>
    <div class="filterDiv swedish">SWEDISH</div>
    <div class="filterDiv swedish">SWEDISH</div>
    <div class="filterDiv swedish">SWEDISH</div>
    <div class="filterDiv danish">DANISH</div>
    <div class="filterDiv danish">DANISH</div>
    <div class="filterDiv danish">DANISH</div>
    <div class="filterDiv norvegian">NORVEGIAN</div>
    <div class="filterDiv norvegian">NORVEGIAN</div>
    <div class="filterDiv norvegian">NORVEGIAN</div>
</div>



{% for posts in posts %}
    <strong>Name:</strong> {{ posts.title }} <br>
    <strong>Recipe:</strong> {{ posts.description }} <br>
{% endfor %}

{% endblock %}

